*{
  text-align: center;
}

.navigation{
  margin-top: 50px;
  text-align: center;
}

a{
  text-decoration: none;
  margin:0 10px;
  font-size: 30px;
}

.a-comp{
  font-size: 15px;
}

.buttons{
  margin-top: 20px;
}

button{
  margin: 0 10px;
}

.customNav{
  color: green;
  font-weight: bold;
}